/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like. */

@keyframes arrow-move {
  from {
    left: -22px;
  }

  to {
    left: -18px;
  }
}

@keyframes underline-grow {
  from {
    color: var(--accent-color);
    opacity: 0.6;
    width: 0;
  }
  to {
    color: var(--accent-color);
    opacity: 0.6;
    width: 100%;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes scale-up {
  from {
    scale: 1;
  }

  to {
    scale: 1.1;
  }
}

.heart-icon {
  transform-origin: center;
  cursor: pointer;
}

.heart-icon .heart-sparks {
  opacity: 0;
}

.heart-icon .heart-contour {
  fill: currentColor;
  transition: fill 0.1s linear;
}

.heart-icon .heart-core {
  fill: transparent;
  transition: fill 0.3s 0.03s linear;
}

.heart-icon .heart-main {
  fill: transparent;
  transition: fill 0.3s linear;
}

.heart-icon:hover .heart-core {
  fill: currentColor;
  transition: fill 0.3s linear;
}

.heart-icon:hover .heart-main {
  fill: currentColor;
  transition: fill 0.3s 0.05s linear;
}

.heart-icon:active .heart-core {
  fill: red;
  transition: fill 0.3s linear;
}

.heart-icon:active .heart-main {
  fill: red;
  transition: fill 0.3s 0.05s linear;
}

.heart-icon.heart-liked .heart-contour {
  fill: red;
  transition: fill 0.3s 0.06s linear;
}

.heart-icon.heart-liked .heart-core {
  fill: red;
  transition: fill 0.3s linear;
}

.heart-icon.heart-liked .heart-main {
  fill: red;
  transition: fill 0.3s 0.05s linear;
}

.heart-icon.heart-liked {
  animation: scale-up 0.3s 0.1s ease-in 1 alternate;
}

.heart-icon.heart-liked .heart-sparks {
  animation: fade-in 0.3s 0.3s ease-in 1 alternate;
}