/* Здесь вы напишете основную часть стилей страницы. */

.site-page {
  margin: 0 auto;
  font-family: var(--global-font), sans-serif;
  background: var(--bg-gradient);
  background-size: cover;
  background-attachment: fixed;
  min-block-size: 100dvb;
  inline-size: var(--page-section-size);
}

/* Начало header */

.site-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-block-start: 100px;
  border: 2px solid var(--accent-color);
  padding-block-end: 25px;
  color: var(--accent-color);
  font-family: var(--custom-font), fantasy;
  background-color: var(--card-background-color);
  min-block-size: 327px;
}

.site-header__logo {
  margin-top: 120px;
  font-size: var(--logo-font-size);
  text-transform: uppercase;
}

.site-header__title {
  font-size: var(--title-font-size);
  text-transform: uppercase;
}

.theme-selector__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  padding: 4px 0 0 21px;
}

.theme-selector__button {
  border: none;
  border-block-end: 2px solid transparent;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
  background: none;
  transition: 0.5s;
  cursor: pointer;
}

.theme-selector__item:has(.theme-selector__button:disabled) {
  position: relative;
  opacity: 0.6;
  pointer-events: none;
}

.theme-selector__item:has(.theme-selector__button:disabled)::before {
  content: "▶";
  position: absolute;
  opacity: 0.6;
  animation: arrow-move 0.5s ease-in-out infinite alternate;
}

.theme-selector__item .theme-selector__button:hover {
  opacity: 0.6;
}

.theme-selector__button:focus {
  outline: none;
  opacity: 0.6;
  transition: 0.5s;
}

.theme-selector__button:focus-visible {
  border-block-end: 2px solid currentColor;
  animation: underline-grow 0.5s linear;
}

/* Конец header */

/* Начало main */
.site-main {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding-block-start: 99px;
}

.memory-card {
  border: 2px solid var(--accent-color);
  color: var(--accent-color);
  background-color: var(--card-background-color);
}

.memory-card__title {
  border-block-end: 2px solid var(--accent-color);
  padding: 4px 10px 6px 10px;
  font-weight: var(--font-weight-title);
  font-size: 18px;
  font-variation-settings: "wght" var(--font-weight-title);
}

.image-container {
  position: relative;
}

.memory-image {
  width: 100%;
  height: 100%;
  border-block-end: 2px solid var(--accent-color);
  object-fit: cover;
  object-position: right;
  aspect-ratio: 1/1;
}

.image-container:after {
  position: absolute;
  top: 23px;
  right: 11px;
  opacity: 0.5;
  color: var(--accent-color);
  font-family: var(--custom-font), fantasy;
  font-weight: 400;
  font-size: 14px;
  text-shadow: 0 0 1px var(--text-stroke-color);
  mix-blend-mode: hard-light;
}

@supports (-webkit-text-stroke: 1px var(--text-stroke-color)) or
  (text-stroke: 1px var(--text-stroke-color)) {
  .image-container:after {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--text-stroke-color);
    --text-stroke: 1px var(--text-stroke-color);
  }
}

.memory-card:nth-child(1) .image-container:after,
.memory-card:nth-child(2) .image-container:after {
  content: "</HTML>";
}

.memory-card:nth-child(3) .image-container:after {
  content: "<CSS>";
}

.memory-card:nth-child(4) .image-container:after {
  content: "<desigions>";
}

.memory-card:nth-child(5) .image-container:after {
  content: "care";
}

.memory-card:nth-child(6) .image-container:after {
  content: "<support>";
}

.memory-card:nth-child(7) .image-container:after {
  content: "<lifes-style: none;>";
}

.memory-card:nth-child(8) .image-container:after {
  content: "<experience>";
}

.memory-card:nth-child(2) .image-container .memory-image {
  filter: saturate(0.3);
}

.memory-card:nth-child(3) .image-container .memory-image {
  filter: saturate(2.5);
}

.memory-card:nth-child(4) .image-container .memory-image {
  filter: sepia(0.6) saturate(1.7);
}

.memory-card:nth-child(5) .image-container .memory-image {
  filter: invert(0.8);
}

.memory-card:nth-child(6) .image-container .memory-image {
  filter: sepia(0.9);
}

.memory-card:nth-child(7) .image-container .memory-image {
  filter: blur(8px);
}

.memory-card:nth-child(8) .image-container .memory-image {
  filter: blur(5px) hue-rotate(114deg);
}

.memory-card__content {
  display: flex;
  flex-direction: column;
  gap: 27px;
  padding: 25px;
}

.memory-text {
  font-weight: var(--font-weight-text);
  font-size: 18px;
  line-height: 115%;
  font-variation-settings: "wght" var(--font-weight-text);
}

.action-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.memory-card__icon-btn {
  height: 36px;
  border: none;
  padding: 0;
  background: none;
  cursor: pointer;
}

.memory-card__icon-btn:focus {
  outline: none;
}

.memory-card__icon-btn:focus-visible {
  outline: 2px solid currentColor;
  transition: 0.3s ease;
}

.custom-btn {
  position: relative;
  border: 2px solid var(--accent-color);
  font-family: var(--custom-font), fantasy;
  background: none;
  cursor: pointer;
}

.memory-card__like-btn {
  width: 128px;
  height: 35px;
}

.custom-btn .btn-text {
  position: relative;
  z-index: 1;
  color: var(--button-text-color);
  letter-spacing: -1px;
  mix-blend-mode: difference;
}

.custom-btn:focus {
  outline: none;
}

.custom-btn:focus-visible {
  box-shadow: 2px 2px 0 0 var(--accent-color);
  transition: 0.5s ease-in-out;
}

.custom-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  transition: 0.5s ease-in;
}

.custom-btn:hover::before {
  content: "";
  position: absolute;
  width: 100%;
  background: var(--accent-color);
  transition: 0.5s ease-in;
}

/* Конец main */

/* Начало footer */
.site-footer {
  display: flex;
  justify-content: center;
  padding: 52px 32.5px 100px 32.5px;
}

.save-memory-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 15px 0;
  background-color: var(--card-background-color);
  min-inline-size: 306px;
  min-block-size: 51px;
}

.save-memory-btn .save-icon {
  width: 21px;
  fill: var(--button-text-color);
  mix-blend-mode: difference;
}

.save-memory-btn span {
  font-family: var(--custom-font), fantasy;
  font-size: 14px;
}

.memory-dialog[open] {
  border: 2px solid var(--accent-color);
  padding: 32px 42px;
  color: var(--accent-color);
  font-family: var(--custom-font), fantasy;
  background: var(--card-background-color);
  min-inline-size: 341px;
  max-inline-size: 357px;
}

.memory-dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.memory-dialog__info {
  display: grid;
  grid-template-columns: min-content 1fr;
  max-block-size: 63px;
  align-items: center;
  gap: 20px;
}

.memory-dialog .save-icon {
  width: 39px;
  height: 39px;
  fill: currentColor;
}

.memory-dialog__text {
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 150%;
  text-transform: uppercase;
}

.memory-dialog form {
  margin-top: 30px;
}

.memory-dialog .memory-dialog__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  height: 38px;
  padding: 9px 17px;
  color: var(--accent-color);
}

/* Конец footer */

@media (width <= 375px) {
  .site-page {
    width: 100%;
  }

  .save-memory-btn {
    flex-direction: column;
  }

  .save-memory-btn .save-icon {
    width: 28px;
    height: 28px;
  }

  .memory-dialog[open] {
    max-inline-size: 341px;
  }
}

@media (376px <= width <= 1440px) {
  .site-header {
    min-block-size: 364px;
  }

  .site-header__logo {
    margin-top: 134px;
  }

  .save-memory-btn {
    min-width: 340px;
    min-height: 40px;
    margin-top: -5px;
    padding: 15px;
  }

  .save-icon {
    width: 21px;
    height: 21px;
  }

  .save-memory-btn .btn-text {
    letter-spacing: 0;
  }

  .memory-dialog[open] {
    padding: 30px;
  }
}